
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Loopbaan Coaching</h2>
                <p>
                    Als je huidige baan te weinig uitdaging biedt, waardoor je competentiës, interesses en vaardigheden onvoldoende aanbod komen,
                    dan wordt het tijd voor een (her)oriëntatie op je loopbaan. Misschien wil je een nieuwe baan of je verder ontwikkelen in je huidige functie
                    in loondienst of heb je ambities om te starten als zelfstandige ondernemer.<br/>
                    Loopbaan coaching zorgt voor focus op je loopbaan. Samen gaan we uitzoeken in welke richting je je loopbaan verder vorm wilt geven,
                    wat het beste bij je past en wat de mogelijkheden hiervoor zijn. Je ontdekt je talent, dus waar je het allerbeste in bent, je wensen, dus wat je het allerliefst doet
                    en je drijfveer, dat waar het werkelijk om gaat in het leven.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Studiekeuzeadvies</h2>
                <p>
                    Het is best lastig om op jeugdige leeftijd te kiezen voor een studie en te bedenken wat voor werk je later wilt gaan doen. Een studiekeuze maken is iets heel persoonlijks
                    en een belangrijke beslissing. Het gaat om jouw toekomst. Ik help jouw daar graag bij.<br/>
                    Er is veel aanbod en alles lijkt even boeiend te zijn. Zelfkennis en motivatie geven je inzicht om te weten wat je nou echt wilt. Samen gaan we uitzoeken welke studie er het
                    beste bij jou past, zodat je verzekerd bent van een bewuste, weloverwogen studiekeuze en gemotiveerd bent om te gaan studeren. Je studie is het begin van je loopbaan.
                    Bewust kiezen en er vol gaan geven je toekomstperspectief.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Soliciteren</h2>
                <p>
                    <ul>
                        <li>
                            Ik wil soliciteren en heb behoefte aan feedback op mijn CV en sollicitatie brief.
                        </li>
                        <li>
                            Ik wil oefenen met sollicitatievragen in mijn specifieke situatie. Hoe kan ik me het beste voorbereiden op een sollicitatiegesrek, welke vragen kan ik verwachten?
                        </li>
                        <li>
                            Ik ben actief aan het solliciteren, maar wordt niet uitgenodigd voor gesprekken. Wat kan ik hieraan doen?
                        </li>
                        <li>
                            Ik wil ander werk maar heb geen of weinig ervaring met solliciteren, hoe kan ik mijn vaardigheden vergroten?
                        </li>
                        <li>
                            Hoe werkt 'netwerken', hoe pak ik dit aan?
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-9">
                <div class="text">
                    <p>
                        Sed lobortis mi. Suspendisse vel placerat ligula. <span style="text-decoration: underline;">Vivamus</span> ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                    </p>
                    <p>
                        Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus. <strong>Ut vehicula rhoncus</strong> elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit <em>pulvinar dict</em> vel in justo. Vestibulum ante ipsum
                        primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                    </p>
                    <h2>Aliquam In Arcu </h2>
                    <p>
                        Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia Curae.
                    </p>
                    <figure>
                        <img src="beach.jpg" />
                        <figcaption>Caption</figcaption>
                    </figure>
                    <p>
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum
                        vel in justo.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-2 col-md-offset-1 col-sm-3">
                <div class="toc">
                    <p>Table of Contents</p>
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/max-hennen-964930a3/" data-format="inline" data-related="false">
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
