
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="row" style="color:#67BEEC; text-align: center;">
            <div class="col-md-4">
                <h2>Loopbaancoaching</h2>
                <a href="/Home/Loopbaancoaching"><img src="/wetransfer-23659a/MHC_wegwijzer_transparante achtergrond.png" style="width: 256px" /></a>
            </div>
            <div class="col-md-4">
                <h2>Studiekeuzeadvies</h2>
                <a href="/Home/Studiekeuzeadvies"><img src="/wetransfer-23659a/MHC_studentenhoed_transparante achtergrond.png" style="width: 256px" /></a>
            </div>
            <div class="col-md-4">
                <h2>Solliciteren</h2>
                <a href="/Home/Solliciteren"><img src="/wetransfer-23659a/MHC_voetstappen_transparante achtergrond.png" style="width: 256px" /></a>
            </div>

        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-9">
                <div class="text">
                    <p style="font-weight:bold;font-size:20px;">                        
                        Samen werken aan een toekomst met perspectief
                    </p>
                    <p>
                        Mariëlle Hennen Coaching biedt hulp aan mensen die meer uit zichzelf, studie of werk willen halen. Dat begint met vragen over wie je bent, wat je kunt en wat je daarmee wilt doen. Heb jij praktische vragen over je beroeps- of studiekeuze? Twijfel jij of je huidige baan nog bij je past? Of wil jij je sollicitatievaardigheden verbeteren om je kansen op die ene leuke baan te vergroten? Dan ben je bij mij aan het juiste adres.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-2 col-md-offset-1 col-sm-3">
                <a href="https://www.facebook.com/mariellehennencoaching/?fref=ts" class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span>
                </a>
                <a href="https://www.linkedin.com/in/mariellehennen/" class="btn btn-block btn-social btn-linkedin">
                    <span class="fa fa-linkedin"></span>
                </a>
            </div>
        </div>
    </div>

