
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Column 1 <br /><small>       Column 1</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 2 <br/> <small>Column 2</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 3<br /> <small>Column 3</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 4 <br /><small>       Column 3</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Column 1 <br /><small>       Column 1</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 2 <br /> <small>Column 2</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 3<br /> <small>Column 3</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 4 <br /><small>       Column 3</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Column 1 <br /><small>       Column 1</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 2 <br /> <small>Column 2</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 3<br /> <small>Column 3</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 4 <br /><small>       Column 3</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Column 1 <br /><small>       Column 1</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 2 <br /> <small>Column 2</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 3<br /> <small>Column 3</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 4 <br /><small>       Column 3</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>Column 1 <br /><small>       Column 1</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 2 <br /> <small>Column 2</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 3<br /> <small>Column 3</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
        <div class="col-md-3">
            <h1>Column 4 <br /><small>       Column 3</small></h1>
            <p>Paragraph</p><a href="#">Link</a>
        </div>
    </div>
</div>
