
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Loopbaan Coaching</h2>
                <a href="/Home/Solliciteren"><img src="/wetransfer-23659a/MHC_wegwijzer_transparante achtergrond.png" style="width: 256px" /></a>
            </div>
            <div class="col-md-4">
                <h2>Studiekeuzeadvies</h2>
                <a href="/Home/Studiekeuzeadvies"><img src="/wetransfer-23659a/MHC_studentenhoed_transparante achtergrond.png" style="width: 256px" /></a>
            </div>
            <div class="col-md-4">
                <h2>Solliciteren</h2>
                <a href="/Home/Loopbaancoaching"><img src="/wetransfer-23659a/MHC_voetstappen_transparante achtergrond.png" style="width: 256px" /></a>
            </div>

        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-9">
                <div class="text">
                    <p>
                        Sed lobortis mi. Suspendisse vel placerat ligula. <span style="text-decoration: underline;">Vivamus</span> ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                    </p>
                    <p>
                        Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus. <strong>Ut vehicula rhoncus</strong> elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit <em>pulvinar dict</em> vel in justo. Vestibulum ante ipsum
                        primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                    </p>
                    <h2>Aliquam In Arcu </h2>
                    <p>
                        Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                        cubilia Curae.
                    </p>
                    <figure>
                        <img src="beach.jpg" />
                        <figcaption>Caption</figcaption>
                    </figure>
                    <p>
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum
                        vel in justo.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-2 col-md-offset-1 col-sm-3">
                <div class="toc">
                    <p>Table of Contents</p>
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/max-hennen-964930a3/" data-format="inline" data-related="false">
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
