
@{
    ViewBag.Title = "Loopbaancoaching";
}

<h2>Loopbaancoaching</h2>

<div class="row">
    <div class="col-lg-6 col-md-7 col-sm-9">
        <div class="text">
            <p>
                Werken is meer dan alleen nuttig en noodzakelijk. Het moet ook zinvol, inspirerend en uitdagend zijn. Toch halen mensen vaak minder plezier en passie uit hun werk dan mogelijk is.
                Hoe is dat voor jou?
            </p>
            <br />
            <p>
                Loopbaancoaching is voor jou de juiste stap als ….
            </p>
            <ul>
                <li>
                    je je baan dreigt te verliezen.
                </li>
                <li>
                    je twijfelt of je wel op de juiste plek zit.
                </li>
                <li>
                    je na je werk moe en futloos thuiskomt.
                </li>
                <li>
                    je voortdurend met dingen bezig bent waarmee je niet bezig wilt zijn.
                </li>
                <li>
                    je toe bent aan iets nieuws.
                </li>
                <li>
                    je het gevoel hebt dat jouw talenten niet volledig worden benut.
                </li>
                <li>
                    je wilt onderzoeken waar je passie ligt.
                </li>
            </ul>
            <br />
            <p>
                In deze individuele coaching zoeken we samen in welke richting je je loopbaan verder wilt vormgeven, wat bij jou past en welke stappen nodig zijn om daar te komen. Je ontdekt je talenten, wensen, drijfveren en ontwikkelpunten. Je krijgt meer grip op je loopbaan, weet wat je toegevoegde waarde is, wat je drijft, wat je passie is en welke nieuwe mogelijkheden er voor jou zijn. Met die kennis maak je een gefundeerde en realistische keuze.
            </p>
            <br />
            <p>
                Doorlooptijd
            </p>
            <ul>
                <li>
                    Elk traject begint met een vrijblijvend kennismakingsgesprek waarin we jouw vraag verhelderen en formuleren wat je wilt bereiken.
                </li>
                <li>
                    Het loopbaantraject bestaat gemiddeld uit zes gesprekken van elk 90 minuten.
                </li>
                <li>
                    Het traject kan worden uitgebreid met hulp bij het sollicitatietraject voor het vinden van de passende baan. Deze begeleiding bestaat uit twee gesprekken van elk 90 minuten.
                </li>
                <li>
                    Tussen de sessies zit een periode van 2 tot 3 weken. Je krijgt huiswerkopdrachten ter voorbereiding op het volgende gesprek.
                </li>
                <li>
                    Het hele traject duurt ongeveer vier maanden.
                </li>
                <li>
                    Een loopbaanonderzoek is maatwerk. Tijdens het traject kunnen we daarom aanvullende oefeningen, opdrachten en wensen inpassen.
                </li>
                <li>
                    Het begeleidingsmateriaal is bij de prijs inbegrepen.
                </li>
                <li>
                    Over de kosten lees je meer bij <a style="font-weight:bold;" href="/Home/Tarieven">tarieven</a>.                
                </li>
            </ul>
        </div>
    </div>
</div>

