
@{
    ViewBag.Title = "Over mijzelf";
}
<div class="row" style="color:#000000; text-align: center;">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <img align:center; src="~/wetransfer-23659a/FPN_9849.JPG" style="width:300px;height:300px;margin:0;" />
    </div>
    <div class="col-md-4">

    </div>
</div>

<h2 style="text-align:center;">Over mijzelf</h2>
<br />
<p>
    Ik ben Mariëlle Hennen en gediplomeerd loopbaan- en studiekeuzecoach.
    Ik geef persoonlijke en professionele begeleiding en ondersteuning bij vragen op het gebied van studie en loopbaan.
</p>
<br />
<p style="font-weight:bold;">
    Uit eigen ervaring
</p>
<p>
    Jarenlang werkte ik met veel plezier in verschillende commerciële functies binnen de financiële
    dienstverlening. Mijn keuzes voor opleidingen en functies waren logisch en rationeel. Toch merkte 
    op enig moment dat ik het niet meer naar mijn zin had. Ik ken dus het gevoel van werk waaruit je te 
    weinig of geen voldoening meer haalt. Ik heb ook ervaren hoeveel energie dat kost, hoeveel onrust 
    en stress dat geeft. Ik stelde me de vraag: vind ik het werk dat ik nu doe nog leuk genoeg? Wil ik dit 
    nog jaren blijven doen? Het antwoord was nee. In 2012 heb ik mijn loopbaan een nieuwe wending 
    gegeven. Ik volgde een hbo-opleiding en ging aan de slag als hr-medewerker en later als recruiter. In 
    beide functies heb ik veel mensen ontmoet die niet (meer) wisten waar hun kwaliteiten liggen en 
    wat ze nu echt leuk vinden. En ik heb velen zien vastlopen in hun studie of loopbaan. 
</p>

<br />
<p style="font-weight:bold;">
    En verder
</p>
<p>
    Na het afronden van mijn hbo-opleiding was er een nieuwe basis, maar er ontbrak iets. Ik was altijd 
    al gefascineerd door het gedrag van mensen; wat gebeurt er vanbinnen, wat drijft de mens? Ik wilde me 
    op dit gebied verder ontwikkelen en besloot de post-hbo beroepsopleiding tot loopbaanadviseur te 
    volgen. Tijdens deze opleiding leerde ik mezelf beter kennen. Ik leerde meer naar mijn gevoel te 
    luisteren. Het werd steeds duidelijker wat ik echt het liefste wilde. Hierdoor kon ik de keuzes maken en beslissingen nemen die bij mij passen. Eén van die keuzes is het oprichten van mijn eigen coachpraktijk: Ik wil mensen begeleiden in hun zoektocht naar zichzelf en de zingeving in hun leven. Ieder mens is uniek, maar de vraag is of ieder zijn eigen talenten, drijfveren, ontwikkelpunten en passie ook kent! Iemand die zichzelf goed kent, weet waar hij naartoe wil en wat nodig is om daar te komen. Soms is daar hulp bij nodig en ik bied die hulp. 
</p>
<br />
<p style="font-weight:bold;">
    Antwoorden liggen in jezelf
</p>
<p>
    Ik vertel je niet wat je moet doen, de antwoorden liggen in jezelf. Ik help alleen ze tevoorschijn te halen. Ik stel vragen die anderen niet durven te vragen. Ik vraag door en daag je uit verder na te denken. Van nature ben ik geduldig, betrokken en vindingrijk. Ik sta open voor verschillen, oordeel niet en relativeer met humor. Daarnaast ben ik optimistisch, maar ook realistisch. Mijn feedback is open, eerlijk en oplossingsgericht. Met mijn praktische en persoonlijke aanpak moedig ik je aan door te pakken en zo je werk, studie en carrière meer perspectief te geven.
</p>

