
@{
    ViewBag.Title = "Solliciteren";
}

<h2>Solliciteren</h2>

<div class="row">
    <div class="col-lg-6 col-md-7 col-sm-9">
        <div class="text">
            <p>
                Sed lobortis mi. Suspendisse vel placerat ligula. <span style="text-decoration: underline;">Vivamus</span> ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum
                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            </p>
            <p>
                Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac lacus. <strong>Ut vehicula rhoncus</strong> elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit <em>pulvinar dict</em> vel in justo. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia Curae.
            </p>
            <h2>Aliquam In Arcu </h2>
            <p>
                Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                cubilia Curae.
            </p>
            <figure>
                <img src="beach.jpg" />
                <figcaption>Caption</figcaption>
            </figure>
            <p>
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Suspendisse vel placerat ligula. Vivamus ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum
                vel in justo.
            </p>
        </div>
    </div>
    <div class="col-lg-2 col-lg-offset-2 col-md-offset-1 col-sm-3">
        <div class="toc">
            <p>Table of Contents</p>
            <ul>
                <li><a href="#">Aliquam In Arcu </a> </li>
                <li><a href="#">Ut vehicula rhoncus</a></li>
                <li><a href="#">Lorem Ipsum </a> </li>
                <li><a href="#">Dolor sit amet</a> </li>
            </ul>
        </div>
    </div>
</div>