
@{
    ViewBag.Title = "Solliciteren";
}

<h2>Solliciteren</h2>

<div class="row">
    <div class="col-lg-6 col-md-7 col-sm-9">
        <div class="text">
            <p>
                Hulp nodig bij het solliciteren? En wil je antwoord op onderstaande vragen, dan is
                sollicitatiebegeleiding iets voor jou.
            </p>
            <br/>
            <ul>
                <li>
                    Ik wil oefenen met sollicitatievragen in mijn specifieke situatie. Hoe kan ik me het beste
                    voorbereiden op een sollicitatiegesprek, welke vragen kan ik verwachten?
                </li>
                <li>
                    Ik solliciteer actief, maar word niet uitgenodigd voor gesprekken. Wat kan ik doen?
                </li>
                <li>
                    Ik wil ander werk maar ik heb geen of weinig ervaring met solliciteren, hoe kan ik mijn
                    vaardigheden vergroten?
                </li>
                <li>
                    Hoe werkt ‘netwerken’, hoe pak ik dit aan?
                </li>
            </ul>
            <br/>
            <p>
                Het doel van sollicitatiebegeleiding is het vergroten van jouw vindbaarheid. Hoe weten werkgevers
                dat jij beschikbaar bent? Hoe bewerk je je eigen netwerk? En wat maakt jou nu onderscheidend van
                de ander? Allemaal zaken die belangrijk zijn bij het vinden van een nieuwe baan.
            </p>
            <br/>
            <p>
                In de sollicitatiebegeleiding besteden we aandacht aan alle zaken die bij het solliciteren belangrijk
                zijn. Afhankelijk van jouw vraag kan de begeleiding bestaan uit:
            </p>
            <br/>
            <ul>
                <li>
                    Sollicitatiebegeleiding. Bij deze begeleiding besteden we aandacht aan het vaststellen van de
                    belangrijkste zoekkanalen, vacatureanalyse, het schrijven van een goede sollicitatiebrief en cv,
                    gespreksvoering en presentatie.
                </li>
                <li>
                    Netwerkbegeleiding. Bij deze begeleiding brengen we de netwerkrelaties in kaart en oefenen we
                    met netwerkgesprekken.
                </li>
                <li>
                    Opstellen van een functieprofiel en cv voor open sollicitaties, inschrijving bij werving- en
                    selectiebureaus en/of mobiliteitsbanken.
                </li>
                <li>
                    Maken van je eigen LinkedIn profiel, solliciteren via LinkedIn en werk vinden via Social Media.
                </li>
            </ul>
            <br/>
            <p>
                Na sollicitatiebegeleiding weet je hoe je jouw cv en brief kunt afstemmen op de lezer en geven ze
                een goed beeld van wat jij te bieden hebt. Je bent getraind in het analyseren van vacatures en
                telefonisch informatie inwinnen. Je hebt kennis opgedaan over en geoefend met netwerken. Je bent
                klaar om te solliciteren, je kunt jezelf helder presenteren, je kan je kwaliteiten aan de hand van
                voorbeelden illustreren en je hebt geoefend met lastige sollicitatievragen. Met deze kennis en
                vaardigheden solliciteer jij met zelfvertrouwen en vind je de baan die bij jou past.
            </p>
            <br/>
            <p style="font-weight: bold">
                Doorlooptijd
            </p>
            <br/>
            <ul>
                <li>
                    Het aantal gesprekken en de duur van deze gesprekken is afhankelijk van de begeleiding die je
                    kiest.
                </li>
                <li>
                    Tussen de sessies zit een periode van 1 tot 2 weken. Je krijgt huiswerkopdrachten ter
                    voorbereiding op het volgende gesprek.
                </li>
                <li>
                    Het begeleidingsmateriaal is bij de prijs inbegrepen.
                </li>
                <li>
                    Over de kosten lees je meer bij tarieven.
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-2 col-lg-offset-2 col-md-offset-1 col-sm-3">
        <div class="toc">
            <p>Table of Contents</p>
            <ul>
                <li><a href="#">Aliquam In Arcu </a> </li>
                <li><a href="#">Ut vehicula rhoncus</a></li>
                <li><a href="#">Lorem Ipsum </a> </li>
                <li><a href="#">Dolor sit amet</a> </li>
            </ul>
        </div>
    </div>
</div>