
@{
    ViewBag.Title = "Studiekeuzeadvies";
}

<h2>Studiekeuzeadvies</h2>

<div class="row">
    <div class="col-lg-6 col-md-7 col-sm-9">
        <div class="text">
            <p>Weet jij al wat je wilt worden als je later groot bent?</p>
            <br />
            <p>
                Je moet al jong een studierichting kiezen. Maar hoe maak je nu de juiste keuze? Hoe zorg je ervoor dat je geen tijd, geld en energie verliest met een foute keuze? Stel je jezelf deze vragen? Dan help ik je graag verder.
            </p>
            <p>
                Er is veel aanbod en alles lijkt even boeiend. Zelfkennis en motivatie geven je inzicht om te weten wat je écht wilt. Samen zoeken we naar de studie die het beste bij jou past, zodat je verzekerd bent van een bewuste, weloverwogen keuze en gemotiveerd bent om te gaan studeren. Je studie is het begin van je loopbaan. Bewust kiezen en er vol voor gaan geven je toekomstperspectief.
            </p>
            <br />
            <p>
                Het studiekeuze traject is geschikt voor:
            </p>
            <ul>
                <li>
                    Scholieren in de bovenbouw van havo of vwo
                </li>
                <li>
                    Studenten die willen switchen.
                </li>
                <li>
                    Afgestudeerde mbo’ers die naar het hbo willen.
                </li>
                <li>
                    Afgestudeerde hbo’ers die een universitaire studie willen volgen.
                </li>
                <li>
                    Hbo- en wo-studenten die moeite hebben met het kiezen van hun master.
                </li>
                <li>
                    Mensen die een periode gewerkt of gereisd hebben en weer een studie willen oppakken.
                </li>
            </ul>
            <br />
            <p>
                Met individuele coaching gaan we samen op zoek naar:
            </p>
            <ul>
                <li>
                    Jouw persoonlijke eigenschappen en interesses
                </li>
                <li>
                    Jouw bekwaamheden
                </li>
                <li>
                    Je kennis.
                </li>
                <li>
                    Wat je terug wil vinden in je studie en in je latere werk
                </li>
                <li>
                    Jouw motivatie
                </li>
                <li>
                    Je leer- en werkstijl
                </li>
                <li>
                    De vakken die je leuk vindt
                </li>
                <li>
                    Het werk dat je graag doet
                </li>
            </ul>
            <br />
            <p>
                Samen kijken we welke opleidingen hierop aansluiten. Daarna kijken we of het beeld dat je van een opleiding hebt klopt met de werkelijkheid.
            </p>
            <br />
            <p>
                Doorlooptijd
            </p>
            <ul>
                <li>
                    Elk traject begint met een vrijblijvend kennismakingsgesprek waarin we jouw vraag verhelderen en formuleren wat je wilt bereiken.
                </li>
                <li>
                    Een studiekeuzetraject bestaat gemiddeld uit 4 gesprekken van 90 minuten per gesprek.
                </li>
                <li>
                    Het traject duurt ongeveer circa 6 tot 8 weken.
                </li>
                <li>
                    Je krijgt huiswerkopdrachten ter voorbereiding op het volgende gesprek.
                </li>
                <li>
                    Studiekeuzeadvies is maatwerk. Soms is een traject eerder afgerond of heb je juist een of meer extra gesprekken nodig. Wanneer dit het geval is, bespreken we dat samen.
                </li>
                <li>
                    Het begeleidingsmateriaal is bij de prijs inbegrepen.
                </li>
                <li>
                    Over de kosten lees je meer bij <a style="font-weight:bold;" href="/Home/Tarieven">tarieven</a>
                </li>
            </ul>
        </div>
    </div>
</div>

