
@{
    ViewBag.Title = "Tarieven";
}

<h2>Tarieven</h2>
<br />
<br />
<p>Na een vrijblijvend kennismakingsgesprek bepalen we samen de inhoud en de duur van het traject.</p>
<br />

<p style="font-weight:bold;text-decoration:underline;">Particulieren</p>

<div class="row" style="color:#000000; text-align: center;">
    <div class="col-md-4">
        <p style="font-weight:bold;">Traject</p>
        <p>Loopbaantraject</p>
        <p>Loopbaantraject incl. <br />
        arbeidsmarktbenadering
        </p>
        <p>Studiekeuzetraject</p>
        <p>Studiekeuzetraject incl.<br />
        capaciteitentest
        </p>
        <p>Sollicitatiebegeleiding</p>
        <p>Netwerkbegeleiding</p>
        <p>Maken van functie- of <br />
        LinkedIn profiel
        </p>
    </div>
    <div class="col-md-4">
        <h4 style="font-weight:bold;"></h4>
        <br />
        <p>6</p>
        <p>8</p>
        <br />
        <p>4</p>
        <p>5</p>
        <br />
        <p>3</p>
        <p>2</p>
        <p>1</p>
    </div>
    <div class="col-md-4">
        <h4 style="font-weight:bold;"></h4>
        <br />
        <p>€ 1250,- incl. BTW</p>
        <p>€ 1400,- incl. BTW</p>
        <br />
        <p>€ 495,- incl. BTW</p>
        <p>€ 595,- incl. BTW</p>
        <br />
        <p>€ 195,- incl. BTW</p>
        <p>€ 125,- incl. BTW</p>
        <p>€ 75,- incl. BTW</p>
        <br />
        <br />
    </div>
</div>
<p>Een begeleidingstraject is maatwerk. Het kan voorkomen dat er één of enkele gesprekken extra nodig zijn.  Prijs per uur is € 75,- excl. BTW.</p>
<br />
<p style="font-weight:bold;text-decoration:underline;">Organisaties</p>
<p>Tarieven voor organisaties zijn op aanvraag.</p>
