
@{
    ViewBag.Title = "Tarieven";
}

<h2>Tarieven</h2>
<br />
<br />
<p>Na een vrijblijvend kennismakingsgesprek bepalen we samen de inhoud en de duur van het traject.</p>
<br />

<p style="font-weight:bold;text-decoration:underline;">Particulieren</p>
<div style="width:100%;">
        <div style="float:left; width:33%;">
        <p style="font-weight:bold;text-align:left;">Traject</p>
        <p style="text-align:left;">Loopbaantraject</p>
        <p style="text-align:left;">Loopbaantraject incl. <br />
        arbeidsmarktbenadering
        </p>
        <p style="text-align:left;">Studiekeuzetraject</p>
        <p style="text-align:left;">Studiekeuzetraject incl.<br />
        capaciteitentest
        </p>
        <p style="text-align:left;">Sollicitatiebegeleiding</p>
        <p style="text-align:left;">Netwerkbegeleiding</p>
        <p style="text-align:left;">Maken van functie- of <br />
        LinkedIn profiel
        </p>
        </div>

        <div style="float:left; width:33%;">
        <h4 style="font-weight:bold;text-align:center;">Aantal gesprekken</h4>
        <br />
        <p style="text-align:center;">6</p>
        <p style="text-align:center;">8</p>
        <br />
        <p style="text-align:center;">4</p>
        <p style="text-align:center;">5</p>
        <br />
        <p style="text-align:center;">3</p>
        <p style="text-align:center;">2</p>
        <p style="text-align:center;">1</p>
        </div>

        <div style="float:left; width:33%;">
        <h4 style="font-weight:bold; text-align:right;">Tarieven</h4>
        <br />
        <p style="text-align:right;">€ 1250,- incl. BTW</p>
        <p style="text-align:right;">€ 1400,- incl. BTW</p>
        <br />
        <p style="text-align:right;">€ 495,- incl. BTW</p>
        <p style="text-align:right;">€ 595,- incl. BTW</p>
        <br />
        <p style="text-align:right;">€ 195,- incl. BTW</p>
        <p style="text-align:right;">€ 125,- incl. BTW</p>
        <p style="text-align:right;">€ 75,- incl. BTW</p>
        <br />
        <br />
        </div>
</div>
<p>Een begeleidingstraject is maatwerk. Het kan voorkomen dat er één of enkele gesprekken extra nodig zijn.  Prijs per uur is € 75,- excl. BTW.</p>
<br />
<p style="font-weight:bold;text-decoration:underline;">Organisaties</p>
<p>Tarieven voor organisaties zijn op aanvraag.</p>
